.footer{
    margin: 2rem auto 2rem auto;
    display: flex;
    justify-content: space-between;
}

.footerSocmed{
    display: flex;
    gap: 1rem;
    font-size: larger;
}

.footerSocmed a{
    color: black;
}

.footerSocmed a:hover{
    cursor: pointer;
    font-size: larger;
}